* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, lightblue, white);
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 2rem 3rem;
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
}

.expand {
  width: 400px;
}